@keyframes changeSubSlider {
  from {
    opacity: 100%;
    transform: translateY(0);
  }

  50% {
    opacity: 0%;
    transform: translateY(0);
  }

  75% {
    opacity: 0%;
    transform: translateY(7px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.container {
  position: relative;

  &-change {
    animation: changeSubSlider 1s forwards;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.slide-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #3877EE;
  margin: 0 0 15px 0;
}

.slide-text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #42567A;
  max-height: 90px;
}

.button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px #3877EE1A;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 2;

  &:disabled {
    cursor: auto;
    display: none;
  }
}

.prev {
  left: -10px;
  transform: translate(-100%, -50%);
}

.next {
  right: -10px;
  transform: translate(100%, -50%);
}

@media (max-width: 960px) {
  .button {
    display: none;
  }
}

@media(max-width: 640px) {
  .container {
    margin-bottom: 80px;
  }

  .slide {
    max-width: 260px;
  }

  .slide-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media(max-width: 500px) {
  .slide {
    max-width: 170px;
  }

  .slide-title {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 20px;
  }

  .slide-text {
    font-size: 14px;
    line-height: 20px;
    max-height: 80px;
  }
}